@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Source+Sans+Pro:wght@200&display=swap');

:root {
  --primary-color: #ddd;
  --primary-text-color: #333;
  --node-color: #3c873a;
  --blue: #007bff;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --green: #28a745;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #fdfdfd;
}

body {
  line-height: 1.4;
  color: var(--primary-text-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

p {
  margin: 1.5rem 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin: 2rem 0;
}

header.jumbotron {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35vh;
  width: 100%;
  background-color: var(--primary-color);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
  margin-bottom: 6rem;
}

.title-box {
  padding-left: 1.5rem;
}
.title-box h1 {
  font-weight: 700;
  font-size: 6rem;
  flex: 0 1 60%;
}

.title-box h3 span {
  color: var(--node-color);
}

header i {
  color: var(--node-color);
  font-size: 16rem;
  padding: 1.5rem;
}

.wrapper {
  display: flex;
  position: relative;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.box {
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  padding: 4rem;
}

.arrow-top {
  position: sticky;
  left: 0;
  bottom: 0;
  background-color: transparent;
  display: none;
  height: 3rem;
  width: 3rem;
}

.arrow-top i {
  font-size: 2.5rem;
  padding: 0.5rem;
}

.mobile-menu-wrapper {
  position: relative;
}

.table-content-mobile,
.toggle-btn {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

.toggle-btn {
  height: 5rem;
  width: 5rem;
  display: none;
  font-size: 4rem;
  text-align: center;
  cursor: pointer;
}

.table-content-mobile {
  height: 100vh;
  width: 0;
  background-color: var(--primary-color);
  overflow: hidden;
  transition: 350ms;
  padding-top: 5.5rem;
}

.table-content-mobile a {
  padding: 1rem;
  text-decoration: none;
  font-size: 2rem;
  color: var(--primary-text-color);
  display: block;
  transition: 0.3s;
}

.table-content-mobile a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 1.5rem;
  margin-left: 50rem;
  height: 5rem;
  width: 5rem;
}

a.closebtn {
  font-size: 4rem;
  padding: 0;
  text-align: center;
}

.table-content {
  flex: 0 1 23%;
  height: 50vh;
  background-color: var(--primary-color);
}

.table-content {
  position: sticky;
  top: 3%;
  height: fit-content;
  padding: 2.5rem;
}

.table-content h3,
.table-content-mobile h3 {
  font-size: 2.3rem;
  color: var(--node-color);
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

.table-content-mobile h3 {
  padding: 1rem;
  margin-bottom: 2rem;
}

.table-content ul,
.table-content-mobile ul {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-around;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.table-content li {
  border-bottom: var(--node-color) 1px solid;
}

.table-content ul li a {
  padding-top: 1rem;
  width: 100%;
  display: block;
  transform: scale(0.9);
  transition: all ease-in 250ms;
}

.table-content ul li a:hover {
  transform: scale(1);
}

.content-text {
  flex: 0 1 65%;
  font-size: 1.6rem;
  height: fit-content;
  position: relative;
  color: #333;
}

.main-section header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  width: 100%;
  background-color: transparent;
  font-size: 2.2rem;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.main-section h4 {
  font-size: 1.8rem;
}

main > section + section {
  margin-top: 4rem;
}

.text-ul {
  margin-left: 4rem;
  list-style: disc;
}

code.cmd-line,
code.nodejs {
  display: block;
  height: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  text-align: left;
  background-color: #272727;
  color: #4fbf40;
  font-family: Consolas, Monaco, andale mono, monospace;
  font-size: 1.4rem;
}

code.cmd-line p,
code.nodejs p {
  margin: 0;
}

code.nodejs {
  color: #625666;
  background: #f7f7f7;
  border: 1px solid #e5e9ef;
  border-radius: 0.3rem;
  margin: 2rem 0;
}

.code-span {
  font-size: 1.9rem;
}

.purple {
  color: var(--purple);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.orange {
  color: var(--orange);
}

.red {
  color: var(--red);
}

.node-green {
  color: var(--node-color);
}

.black {
  color: #000;
}
/* Responsive Menu */

.active {
  display: block;
  height: 360px;
  opacity: 1;
  transition: opacity 350ms ease-out;
}

.deactive {
  display: none;
  transition: none;
}

@media only screen and (max-width: 900px) {
  .wrapper {
    width: 95%;
  }

  header i {
    font-size: 10rem;
  }

  .title-box h1 {
    font-size: 5rem;
  }

  .title-box h3 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 767px) {
  .table-content-mobile,
  .toggle-btn {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  header.jumbotron {
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    height: fit-content;
    font-size: 2rem;
    overflow: hidden;
    text-align: center;
  }

  header i {
    font-size: 6rem;
  }

  .main-section:first-child {
    margin-top: 3.5rem;
  }

  .title-box h1 {
    font-size: 4rem;
  }

  .title-box h3 {
    font-size: 2.2rem;
  }

  .toggle-btn {
    display: block;
  }

  .arrow-top {
    display: block;
  }

  .table-content {
    display: none;
  }

  .content-text {
    flex: 1;
    width: 100%;
  }

  .box {
    padding: 1rem;
  }

  .wrapper {
    width: 100%;
    overflow-x: hidden;
  }
}
